# My first Program

In [1]:
1+1

2

In [2]:
x=min(5,10,25)

In [3]:
y=max(5,10,25)

In [4]:
print(x)

5

In [5]:
print(y)

25

In [6]:
x=min(5,10,25)
y=max(5,10,25)
print(x)
print(y)

5
25

In [7]:
x=pow(4,3)
print(x)

64

In [1]:
2 * 3 # Multiplication

6

In [3]:
4 - 1 # Subtraction

3

In [11]:
a = 1 # Assigning 1 to the variable called a
a + 2 # Adding 2

3

In [13]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
                Job_role = c("Manager", "Team Lead", "Developer" )
               )
print(df)

NameError: name 'data' is not defined